$mdc-theme-primary: #8C45F2;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";

@import "@material/button/mdc-button";

body {
	color: #5A00D9;
	font-size: 36px;
	display: flex;
  margin: 0px 0px;
	height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  font-size: 36px;
}

.drawer-frame-root{
  display: flex;
  height: 100vh;
}

.mdc-drawer--dismissible {
    left: 0;
    right: auto;
    display: none;
    position: absolute;
}
// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}
// Drawer with Content
.mdc-top-app-bar--fixed-adjust{
  padding-top: 0px;
  z-index: 12;
}
// Left Drawer
.mdc-drawer--dismissible.mdc-drawer--open {
  padding-top: 64px;
  z-index: 0;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.main-content {
  overflow: auto;
  height: 100%;
}

.cardsContainer {
    //min-width: 50%;
    max-width: 90%;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 5px auto;
}
.cards {
    overflow: auto;
    height: 100%;
}
.demo-card {
    font-size: 1.25rem;
    width: 350px;
    margin: 24px 24px;
    border-radius: 15px;
}
.my-card {
    font-size: 1.25rem;
    margin: 24px 24px;
    border-radius: 15px;
}
.mdc-card__primary-action{
  padding: 6px
}
.mdc-card__secondary-action{
  padding: 6px
}